<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <!-- Navbar with light background, bottom border, and sticky top -->

  <div class="container-fluid">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Toggler button for smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left-side nav links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
      </div>

      <!-- Right-side auth links -->
      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Login</a>
        <% } %>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
